* {box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card_detail {
  width: 400px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
.card_imagine {
  display: flex;
  text-align: center;
  justify-content: center;
}
.card_detail_info {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.card_detail_info_raiting {
  width: 55px;
  height: 25px;
  background: #6F64F8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper_img_price_raiting {
  margin: 20px 20px 20px 20px;

}
.price {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

}
.card_product_name {
  color: #2C2C2C;
  margin-top: 16px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 400;
}

.card_product_name h4 {
  font-size: 16px;
  color: #2C2C2C;
  font-weight: 400;
}

.card_product_name p {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 22px;
  margin-left: 40px;
  color: #2C2C2C;
}

.product_buttons {
  height: 45px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.button_wishlist {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.button_wishlist_image {
  background-color: #EDEDED;
  margin-right: 10px;
}

.button_wishlist_text {
  color: #2C2C2C;
  text-transform: uppercase;
  font-weight: 600;
}

.button_addtocard {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #6F64F8;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 0px 0px 8px 0px;
  border: none;
}

.button_addtocard_image {
  color: #FFFFFF;
  margin-right: 10px;
}

.button_addtocard_text {
  text-transform: uppercase;
  font-weight: 600;
}
