<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="fullstore.css">
  <title>Eleks internet store - top internet store for nerds </title>
</head>
<body>

<div class = "all_blocks">
     
  <div class="left_side_site">
  
    <header>

        <img src="../img/logo.jpg" height="72" width="91" class = "logo_img"/>
        <span class = "header_text"> Online Store </span>
      
      </header>


      <div class = "bread_crumbs">
          <a href="@" class="homepage">  <img src="../img/home.png"> </a>
          <a href="@" class="arrow1"> <img src="../img/arrow.png" height="10" width="6"/> </a>
          <a href="@" class="eCommerce"> eCommerce </a>
          <a href="@" class="arrow2"> <img src="../img/arrow.png" height="10" width="6"> </a>
          <a href="@" class="electronics"> Electronics </a>
      </div>
        
  
      <div class="filters_arrow">
        <div class="filters1">
        <span> Filters </span>
        <button class="twoarrows"> << </button>
      </div>
      </div>

    
      <aside class="filters_store">
      
        <div class ="multi_range">
          <ul>
            <li><p> Multi Range </p> </li>
            <li> <input type="radio" name="raz">$10 </li>
            <li> <input type="radio" name="raz">$10-$100 </li>
            <li> <input type="radio" name="raz">$100-$500 </li>
            <li> <input type="radio" name="raz">$500 </li>
            <li> <input type="radio" checked name="raz" >All </li>
        </ul>
          </div>

        <hr>

        <div class="category">
          <ul>
            <li><p>Category</p></li>
            <li> <input  type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Cell Phones <span class="sidebar__amount" > 1900</span> </label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Computers & Tablets <span class="sidebar__amount" > 1820</span></label>
            </li>
            <li> <input type="checkbox"checked id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Cell Phone Accessories<span class="sidebar__amount" > 460</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Appliances<span class="sidebar__amount" > 6556</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Audio<span class="sidebar__amount" > 120</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> iPhone Accessories<span class="sidebar__amount" > 353</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Cameras & Camcorders<span class="sidebar__amount" > 45</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> iPhone Cases & Clips<span class="sidebar__amount" > 456</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> TV & Home Theater<span class="sidebar__amount" > 55</span> </label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Small Kitchen Appliances<span class="sidebar__amount" > 10</span></label>
            </li>
        </ul>
        </div>
        
        <hr>

        <div class = "brand">
          <ul>
            <li><p>Brand</p></li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Insigni<span class="sidebar__filters__price" > 200</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Samsung<span class="sidebar__filters__price" > 120</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Apple<span class="sidebar__filters__price" > 320</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> HP<span class="sidebar__filters__price" > 32</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Sony<span class="sidebar__filters__price" > 520</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Metra<span class="sidebar__filters__price" > 55</span></label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Dyne<span class="sidebar__filters__price" > 120</span>
                </label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> LG<span class="sidebar__filters__price" > 98</span>
                </label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Canon<span class="sidebar__filters__price" > 99</span>
                </label>
            </li>
            <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                <label for="checkbox"> Speck<span class="sidebar__filters__price" > 575</span></label>
            </li>
        </ul>
        </div>
      </aside>
      
        <div class = "clear_all_filters">
          <button class = "btn_clear_all_filters"> CLEAR ALL FILTERS </button>
        </div>
  </div>

<div class="right_side_items">
        <div class="results">
          <span class="results_text"> 7,618 results found </span>
          <a href="@" class="heart_top"> <img src= "../img/Path (2).png"> </a>
        </div>

        <div class="search_items">
           <form action="">
            <input class="search_product_input" type="text" placeholder="Search">
           
          </form>
        </div>



    <div class = "card_wrapper">
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>
      <div class = "card">
        <div class = "card_detail">
          <div class="wrapper_img_price_raiting">
        <div class = "card_imagine">
          <img src="../img/watch.png" width="200" height="240">
        </div>
          <div class = "card_detail_info">
            <div class = "card_detail_info_raiting"> 3.4
              <img src="../img/star.png"/>
            </div>
            <div class = "price"> 399$ </div>
            </div>
            <div class="card_product_name">
      <h4> Apple Watch Series 7 </h4>
              <p>  Redesigned from scratch and completely revised. </p>
            </div>
          </div>
          <div>
            <div class="product_buttons">
              <button class="button_wishlist">
                <img class="button_wishlist_image" src="../img/heart.png"/>
                <span class="button_wishlist_text">Wishlist</span>
              </button>
              <button class="button_addtocard">
                <img class="button_addtocard_image" src="../img/shopping-bag.png"/> <span class="button_addtocard_text">Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
      </div>


    </div>


<div class="paginator">
  <div class = "turn_button">
    <button class="switch_left"> <img src="../img/Left.png" height="40" width="41"/> </button>
  </div>
  <div class = "page_buttons_group">
    <a href="#"><p>1</p></a>
    <a href="#"><p>2</p></a>
    <a href="#"><p>3</p></a>
    <a href="#"><p>4</p></a>
    <a href="#"><p>5</p></a>
    <a href="#" class="active_page"><p>6</p></a>
    <a href="#"><p>7</p></a>
    <a href="#"><p>8</p></a>
    <a href="#"><p>9</p></a>
    <a href="#"><p>10</p></a>
  </div>
  <div class = "turn_right">
  <button class="switch_right"> <img src="../img/Right.png" height="40" width="42"/> </button>
</div>
</div>
</div>

</body>
</html>

